/* Playing Container */
.playing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f4f4; /* Blanc cassé pour le texte */
  letter-spacing: 2px;
  margin: 150px 0px 50px 0px;
  font-family: "Arial", sans-serif;
}

.playing-container img {
  width: 320px;
  height: 320px;
  border-radius: 200px;
  object-fit: cover;
  -webkit-user-drag: none;
  box-shadow: 10px 10px 212px 26px rgba(0, 0, 0, 0.75);
}

.playing-song-info {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f4f4; /* Blanc cassé */
}

.playing-song-info h4 {
  margin: 50px 0px 10px 0px;
  color: #33ccff; /* Bleu turquoise pour le titre */
}

.controls {
  display: flex;
  margin-right: 60px;
}

.playing-btns {
  display: flex;
  font-size: 3rem;
  margin: 0px 20px;
  color: #f4f4f4; /* Blanc cassé */
  transition: color 0.3s ease;
}

.playing-btns:hover {
  color: #00bcd4; /* Bleu clair au survol */
}

.repeat-btn {
  padding-top: 5px;
  font-size: 2.5rem;
  margin: 0px 20px;
  color: #f4f4f4; /* Blanc cassé */
  transition: color 0.3s ease;
}

.repeat-btn:hover {
  color: #00bcd4; /* Bleu clair au survol */
}

/* Range Slider */
input[type="range"] {
  width: 35%;
  height: 10px;
  border-radius: 5px;
  background-color: #7f7f7f; /* Gris moyen */
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin-top: 20px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #33ccff; /* Bleu turquoise pour le curseur */
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #33ccff; /* Bleu turquoise pour le curseur */
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  background-color: #33ccff; /* Bleu turquoise pour la progression */
}

/* Controls */
.controls {
  padding-top: 30px;
  cursor: pointer;
  padding-bottom: 30px;
}

.seconds-bar {
  margin-top: 20px;
  font-size: 1.2rem;
  letter-spacing: 4px;
  color: #f4f4f4; /* Blanc cassé */
}

/* Rotating Disc */
.rotating-disc {
  animation: rotate 8s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive */
@media screen and (max-width: 470px) {
  .playing-container img {
    width: 250px;
    height: 250px;
  }

  .playing-song-info h4 {
    text-align: center;
    font-size: 1.5rem;
    color: #33ccff; /* Bleu turquoise pour le titre */
  }

  .playing-song-info p {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    color: #f4f4f4; /* Blanc cassé */
  }

  input[type="range"] {
    width: 75%;
    height: 10px;
  }
}
